.calendar-body {
    display: grid;
    font: 87.5%/1.5em 'Lato', sans-serif;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
}

.calendar-container {
    position: relative;
    width: 60%;
    margin: auto;
}

.calendar-container header {
    border-radius: 1em 1em 0 0;
    background: #ebf5c1;
    color: black;
    padding: 3em 2em;
    margin-top: 50px;
}

.day {
    font-size: 8em;
    font-weight: 900;
    line-height: 1em;
}

.month {
    font-size: 4em;
    line-height: 1em;
    text-transform: lowercase;
}

.calendar {
    background: #fe9f9d;
    border-radius: 0 0 1em 1em;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 2em;
    width: 100%;
}

.calendar thead {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.calendar td {
    padding: 0.5em 1em;
    text-align: center;
    font-size: 1.2em;
    width: 120px;
    height: 60px;
    font-weight: bold;
    color: white;
}

.calendar tbody td:hover {
    background: #cacaca;
    color: #fff;
}

.calendar tbody td:nth-child(7n) {
    color: black;
}

.calendar tbody tr:nth-child(odd) {
    background-color: rgb(168, 101, 101);
    color: white;
}

.current-day {
    color: #e66b6b;
}

#prev-month,
#next-month {
    color: #cacaca;
}

/* Espiral calendario */
.ring-left,
.ring-right {
    position: absolute;
    top: 230px;
}

.ring-left {
    left: 2em;
}
.ring-right {
    right: 2em;
}

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
    content: '';
    display: inline-block;
    margin: 8px;
    height: 32px;
    width: 8px;
}
