/* ESTILOS DE TODA LA WEB, CUIDADO AL TOCARLOS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Necesario para mantener el footer abajo*/
html {
    min-height: 100%;
    position: relative;
}

body {
    /* TODO: No tocar la fuente, se carga el calendario */
    font: 87.5%/1.5em 'Lato', sans-serif;
    line-height: 1.7em;
}

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* CONTENEDORES */

.container {
    margin: auto;
    max-width: 1500px;
    overflow: auto;
    padding: 0 20px;
}

/* BARRA DE NAVEGACION INDEX.HTML */
/* TODO: Corregir colores y fuentes, elegir algo bonito y no una aberración cromatica */

/* Indica en que página nos encontramos marcando en el menu el elemento con un cuadrado */
body#index #navbar ul li:nth-child(1) a,
body#site-1 #navbar ul li:nth-child(2) a,
body#site-2 #navbar ul li:nth-child(3) a,
body#site-3 #navbar ul li:nth-child(4) a,
body#site-4 #navbar ul li:nth-child(5) a {
    background-color: #49637e;
    color: white;
    border: 2px solid #8f989e;
    border-radius: 15px;
}

/* Contenedor del menu de navegación */
#navbar {
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #617480); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #617480); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /*FIXME: Cambiar color, no me convence (Tenemos que pensar los colores bien)*/
    border-bottom: 2px solid rgba(95, 94, 94, 0.55);
}

/* Estilo del titulo situado a la izquierda del menu de navegación */
#navbar h1 {
    float: left;
    padding-top: 20px;
}

/* Logo situado a la izquierda del menu de navegación */
#navbar a img {
    float: left;
    width: 64px;
    margin-right: 5px;
}

/* Alineación derecha y estilos de la lista de sitios */
#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

#navbar ul li a:hover {
    /* Acción al pasar el cursor por los sitios de la lista */
    color: rgb(255, 255, 255);
}


/* FORMULARÍO [INDEX] */


.form{
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 5%;
    border-radius: 30px;
    background-color: #3a4c5d;
    color: white;
}

.fieldset{
    border-radius: 1%;
}

.legend{
    font-size: 20px;
}

.inputselecttextarea{
    margin-top: 20px;
}

.labeltextareacheckbox{
    margin-left: 30px;
}



.checboxtextarea{
    margin-top: 20px;
    margin-left: 30px;
}

input:t{
    color: white;
    background-color: violet;
}

.condiciones{
    margin-left: 0px;
}

.valoración{
    float: right;
}

.botones{
    text-align: center;
}

button{
    padding: 2px;
    margin-bottom: 5px;
    border-radius: 5%;
}

button:nth-child(2){
    color: red;


}

/* FOOTER */

/* Footer abajo y dinamico*/
#footer {
    position: absolute;
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #617480); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #617480); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 80px;
    bottom: 0;
}

.footer-content {
    color: white;
}
/* Planificacion semanal /////////////////////////// */
.mesPS {
    background-color: #3a4c5d;
    border-radius: 5px;
    color: white;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
}
h2 {
    margin-left: 10px;
    margin-top: 10px;
}
.diasPS {
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,200px);
    gap: 20px;
}
.marginPS {
    width: 85%;
    margin: auto;
}
.diasPS > div {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
}
.domingoPS {
    width: 50%;
    padding-bottom: 100px;
    margin: auto;

}
.domingoPS > div {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;

}
.borde {
    border-bottom: solid #2c3e50;
    margin-top: -20px;

}
.fondoPS {
background-color: darkgrey;
}
textarea {
    background-color: antiquewhite;
    border: none;
    width: 100%;

}
.numespaciado {
    margin-left: 700px;
}
.numespaciado2 {
    margin-left: 677px;
}
/* Planificacion semanal /////////////////////////// */
